.form
  display: flex
  flex-direction: column
  justify-content: center
  width: 540px
  max-width: 540px
  textarea
    resize: vertical
  input,textarea
    width: 100%
    border-radius: 5px
    padding: 25px 50px 23px 28px
    margin: 0 0 36px
    background-color: #141414
    @include text(20px,400,24px,#fff)
    &::placeholder
      color: #ffffff33
  &__btn
    display: flex
    justify-content: flex-end



