
.btnOrange
    border: 5px solid #F8B339
    text-transform: uppercase
    padding: 18px 48px
    @include text(18px,700,none,#ffffff)
    background: transparent
    &:hover
     border-radius: 20px
     background: #F8B339

