*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    resize: none;
}

.container{
    width: 100%;
    margin: 0 auto;
}
a {
    color: #343078;
    text-decoration: none;
}
body{
    background: #0f0f0f;
    font-family: Lato,sans-serif;
}
.orangeText{
    color: #F8B339;
}
.greyText{
    color: #ffffff99;
}
.lightText{
    color: #ffffffcc;
}
.Roboto400{
    font-family: Roboto,sans-serif;
    font-weight: 400;
}
.Roboto500{
    font-family: Roboto,sans-serif;
    font-weight: 500;
}
.Roboto600{
    font-family: Roboto,sans-serif;
    font-weight: 600;
}
.RobotoSlab500{
    font-family: Roboto Slab, sans-serif;
    font-weight: 400;
}


